
# Application
NODE_ENV=development
PORT=5000

# Database (MongoDB)
DATABASE_URL=mongodb+srv://admin:sriharsha@ai-job-alert-cluster.aj9fh3g.mongodb.net/?appName=ai-job-alert-cluster

# JWT
JWT_SECRET=10c82827c2890a8c3946ac2babbd2dfdc9aaed873cff4f1c8e463e5ade22aebc6e30f1217e0838d553c32088501873f71c2e36d8f017cac89189d1131a4348c9
JWT_REFRESH_SECRET=51921ac79897a367050f8dfe3558e29ed91735787523eae9b059262ee3762a26e930641d52e3a905850149de059688452eaec25e6414c0e961cc2fdedf174fe7
JWT_ACCESS_TOKEN_EXPIRATION="15m"
JWT_REFRESH_TOKEN_EXPIRATION="7d"

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=

# OpenAI API
OPENAI_API_KEY==your_api_key_here

# Scraping
# Cron schedule options:
# "0 */3 * * *"   = Every 3 hours
# "0 */6 * * *"   = Every 6 hours
# "0 */12 * * *"  = Every 12 hours
# "0 0 * * *"     = Every 24 hours (daily at midnight)
# "0 9 * * *"     = Every day at 9 AM
SCRAPE_CRON_SCHEDULE="0 */12 * * *" # Every 12 hours

# Sentry (Optional)
SENTRY_DSN=

# Client URL
CLIENT_URL="http://localhost:3000"
